<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Receiver</title>

    <%- include("../frontend-constants.ejs") %>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="/static/js/websocket.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/receiver.js"></script>
</head>
<body>
    <input id="listen-button" type="button" value="start listening" onclick="startListeningUsingWebsocket();">
    <audio id="speaker" autoplay crossorigin="anonymous"></audio>
    <audio id="speaker-for-websocket" autoplay crossorigin="anonymous"></audio>
    <p id="console-log"></p>

</body>
</html>