<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Receiver</title>

    <link href="/static/css/common.css" rel="stylesheet" />
    <script src="/static/js//lib/font-awesome-8aea063d6d.js" crossorigin="anonymous"></script>

    <%- include("../frontend-constants.ejs") %>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="/static/js/websocket.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/receiver.js"></script>
    <script src="/static/js/receiver-websocket-stream.js"></script>
</head>
<body>
    <div class="container center">

        <div id="status-div" class="hidden-by-opacity">
            <div id="status-label" style="display: inline-block;"></div>
            <div id="status-value" style="display: inline-block"></div>
            <br>
            <br>
        </div>
        <button id="speaker-or-mic-btn" class="muted btn" onclick="toggleListeningUsingWebsocket(); toggleWebRtc()" style="font-size: 25px;">
            <i class="muted-icon btn-label fa-solid fa-volume-xmark"></i>
            <i class="connecting-icon btn-label fa-solid fa-volume-high"></i>
            <i class="unmuted-icon btn-label fa-solid fa-volume-high"></i>
        </button>
        <audio id="speaker" autoplay></audio>


    </div>

    <audio id="speaker" autoplay crossorigin="anonymous"></audio>
    <audio id="speaker-for-websocket" autoplay crossorigin="anonymous"></audio>
    <p id="console-log"></p>

</body>
</html>