<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Mode yang ingin digunakan? <br>
<a href="webrtc">WebRTC (efisien tapi buggy)</a> <br>
<a href="websocket">WebSocket (tidak se-efisien WebRTC) </a><br>
</body>
</html>