<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
Apakah device Anda saat ini sedang terkonek ke WIFI yang sama dengan receiver? (WIFI UI harusnya) <br>
<a href="webrtc">YA</a> <br>
<a href="websocket">Tidak</a><br>
</body>
</html>