<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sender</title>

    <%- include("../frontend-constants.ejs") %>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="/static/js/websocket.js"></script>
    <script src="/static/js/common.js"></script>
    <script src="/static/js/sender.js"></script>
</head>
<body>
<input type="button" value="open mic" onclick="startStream()">
<video id="speaker" autoplay playsinline></video>



</body>
</html>