<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sender</title>

    <link href="/static/css/common.css" rel="stylesheet" />
    <script src="https://kit.fontawesome.com/8aea063d6d.js" crossorigin="anonymous"></script>

    <script src="/static/js/RecordRTC.js"></script>

    <%- include("../frontend-constants.ejs") %>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"></script>
    <script src="/static/js/websocket.js"></script>
    <script src="/static/js/common.js"></script>

    <% if (websocket) { %>
        <script src="/static/js/sender-websocket-stream.js"></script>
    <% } else { %>
        <script src="/static/js/sender.js"></script>
    <% } %>

</head>
<body>
    <div class="container center">
        <button id="speaker-or-mic-btn" class="muted btn" onclick="toggleMicrophoneMute()" style="font-size: 25px;">
            <i class="muted-icon btn-label fa-solid fa-microphone-lines-slash"></i>
            <i class="unmuted-icon btn-label fa-solid fa-microphone-lines"></i>
        </button>
        <audio id="speaker" autoplay></audio>


    </div>
    <p id="console-log"
       class="<% if(debugMode){ %> hidden <% } %>"
    ></p>






</body>
</html>